<div id="<%= dom_id library %>">
  <p>
    <strong>First name:</strong>
    <%= library.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= library.last_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= library.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= library.phone %>
  </p>

  <p>
    <strong>Twitter:</strong>
    <%= library.twitter %>
  </p>

</div>
